@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #F1EFF7;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: "Caladea";
}

.menu {
    width: 250px;
    height: 100vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 20px;
    border-right: 2px #A5A5A5 solid;
}

.logo {
    width: 180px;
    margin-top: 20px;
}

.PrimaryScreens {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

.divOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    margin-top: 50%;
    margin-bottom: 10%;
    background-color: transparent;
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 4%;
    transition: all .4s ease-in-out;
    height: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menuOption {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    text-align: start;
    width: 100px;
    color: #666666;

}

.menuicon {
    color: #666666;
    margin-inline: 10px;

}

.secondaryOptions {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-between;
}

.onScreen {
    box-shadow: #666666 0 2px 6px;
    background-color: #B08067;

}

.option:hover {
    background-color: #F5F5F5;
}

.onScreen:hover {
    background-color: #c58f72;
}

.onScreenColors {
    color: #fff;
}

.novoSupervisor {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.divButtonPdf  {
    margin-left: 80%;
}

.gerarPdfButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #666666;
    border: none;
    transition: all .4s ease-in-out;
    cursor: pointer;
    width: 130px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

.novoSupervisorButtom:hover {
    background-color: #B08067;
    border: 2px solid #fff;
}

.novoSupervisorButtom:active {
    transform: scale(.95);
}

.acessosSpans {
    width: 50%;
    padding-right: 20%;
    margin-bottom: 20px;
}

.relatorioSetores {
    font-size: 24px;
    color: #666666;
    margin-right: 30px;
}

.relatorioAcesso {
    font-size: 24px;
    color: #B08067;
}

.supervisores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 20px;
    border-radius: 20px;
    color: #B08067;
    font-weight: bold;
    width: 75%;
    height: 60%;
    background-color: #fff;
}

.supervisoresTitulo {
    height: 20%;
    font-size: 50px;
    
}

.dadosSupervisoresContainer {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 80%;
    margin-bottom: 20px;
}

.dadosSupervisores {
    color: #666666;
    font-size: 24px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 20px;
}

.dadosSupervisoresContainer::-webkit-scrollbar {
    width: 8px;
}

.dadosSupervisoresContainer::-webkit-scrollbar-track {
    background: #F5F5F5;
    width: 100%;
}

.dadosSupervisoresContainer::-webkit-scrollbar-thumb {
    background-color: #B08067;
    border-radius: 30px;
}

.nomes {
    font-size: 24px;
    font-style: normal;
    font-family: "Caladea";
}

.email {
    font-size: 20px;
    font-family: "Caladea";
    font-weight: 400;
}

.dataHora {
    font-style: italic;
    color: #817e7e;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edit {
    color: #B08067;
    border-color: transparent;
    background-color: #F1EFF7;
}

.del {
    color: #B08067;
    border-color: transparent;
    background-color: #F1EFF7;
}

.edit:hover {
    color: #666666
}

.del:hover {
    color: #666666
}

.optionLogout {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 700;
    color: #666666;
}