@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #F1EFF7;
    height: 100vh;
    width: 100%;
    display: flex;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dht11Umidade {
    height: 30%;
    width: 50%;
    position: absolute;
    opacity: 0;
    transition: all .25s ease-in-out;
}

#dht11Temperatura {
    height: 30%;
    width: 50%;
    position: absolute;
    transition: all .25s ease-in-out;
}

.menu {
    width: 250px;
    height: 100vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 20px;

}

.logo {
    width: 180px;
    margin-top: 20px;
}

.PrimaryScreens {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

.divOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    margin-top: 50%;
    margin-bottom: 10%;
    background-color: transparent;
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 4%;
    transition: all .4s ease-in-out;
    height: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menuOption {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    text-align: start;
    width: 100px;
    color: #666666;

}

.menuicon {
    color: #666666;
    margin-inline: 10px;

}


.item-selecionado {
    background-color: #B08067;
    border-radius: 50px;
}

.item:hover {
    background-color: #F5F5F5;
}

.item-selecionado:hover {
    background-color: #c58f72;
}

.cor-item-selecionado {
    color: #fff;
}

.conteudo {
    width: 100%;
}

.optionLogout {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 700;
    color: #666666;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.onScreen {
    box-shadow: #b8b3ae 0 5px 20px;
    background-color: #B08067;

}

.option:hover {
    background-color: #F5F5F5;
}

.onScreen:hover {
    background-color: #c58f72;
}

.onScreenColors {
    color: #fff;
}

.header-container {
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 20px;
    border-bottom: 2px #A5A5A5 solid;
    border-radius: 20px;
    padding: 10px 0;
}

.header-container .principal {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-in-out;
}

.titulo-header-metricas {
    font-family: "Caladea";
    font-size: 40px;
    font-weight: 700;
    color: #B08067;
}

.titulo-header {
    font-family: "Caladea";
    font-size: 24px;
    font-weight: 700;
    color: #B08067;
}

.metricas {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metricas .titulo-metrica {
    font-family: 'Caladea';
    text-transform: uppercase;
    font-weight: 700;
}

.metricas .temperatura,
.umidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metricas .temperatura {
    color: #C62400;
}

.metricas .umidade {
    color: #072F9F;
}

.metricas .descricao {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Caladea';
    color: #666666;
    margin-top: 8px;
    font-weight: bold;
}

.descricao p {
    margin-top: 5px;
}

.header-grafico .titulo-header {
    color: #B08067;
}

.div-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.div-cards .conteudo {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.indicadores {
    width: 44%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 50%;
    padding: 8px 14px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: #b8b3ae 0 5px 20px;
    border: 3px solid #fff;
    margin-right: 20px;
}

.card:hover {
    border: 3px solid #C62400;
    box-shadow: 0 0 15px #C62400;
}

.titulo-card {
    font-family: "Caladea";
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.texto-card {
    font-family: "Caladea";
    font-size: 50px;
    font-weight: 700;
}

.red {
    color: #C62400;
}

.blue {
    color: #1C50E0
}

.informacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.status .card {
    width: 100%;
    height: 60%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: #b8b3ae 0 5px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status .alerta {
    width: 60%;
}

.titulo-status,
.titulo-tempo {
    font-weight: bold;
    color: #666666;
}


.texto-status,
.texto-tempo {
    text-transform: uppercase;
    font-weight: bold;
}

.titulo-status {
    font-size: 22px;
    font-family: "Caladea";
}

.tipo-status {
    font-family: "Caladea";
    font-size: 26px;
    font-weight: bold;
    color: #C62400;
}

.texto-status {
    text-transform: uppercase;
    font-family: 'Caladea';
    color: #666666;
    font-size: 20px;
    width: 200px;
}

.titulo-tempo {
    font-size: 30px;
    font-family: 'Caladea';
}

.texto-tempo {
    color: #C62400;
    font-family: 'Caladea';
    font-size: 42px;
    margin: 0;
}

.graficos-container {
    width: 100%;
    height: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.graficos-container .conteudo {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.coluna-esquerda {
    width: 50%;
    height: 116%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coluna-direita {
    width: 43%;
    height: 110%;
    display: flex;
    justify-content: flex-end;
}

.grafico {
    width: 80%;

}

.graficoPizza {
    width: 65%;

}

.grafico-temperatura,
.grafico-umidade,
.grafico-status {
    width: 110%;
    height: 100%;
    background-color: #fff;
    border-radius: 14px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  box-shadow: #b8b3ae 0 5px 20px;
    box-sizing: border-box;
    margin-bottom: 2%;

}

.grafico-status {
    height: 100%;
    justify-content: space-around;
}

.grafico-status .header-grafico {
    text-align: center;
    width: 74%;
}

.grafico-status .grafico {
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-grafico {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.infoIcon {
    color: #666666;

}