
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: url("../assets/background/cadastro-login_bg.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;


}

p {
    color: white;
}

.header {
    padding: 30px 30px 0 30px;
}

.logo {
    height: 100px;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div-login {
    background: rgb(102, 102, 102, 0.700);
    width: 36%;
    height: 80%;
    border-radius: 50px;
    box-shadow: #2a2a2a 0 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -100px ;
}

h1 {
    color: white;
    font-size: 50px;

}

.box-input {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    box-shadow: #2a2a2a 0 5px 10px;
    outline: none;
}

.btnForm {
    color: #FFF;
    font-family: "Caladea";
    font-weight: 550;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    border: none;
    background-color: #A9927D;
    font-size: 18px;
    cursor: pointer;
    box-shadow: #4a4a4a 0 5px 10px;
    transition: all .4s ease-in-out;
}

.btnForm:hover {
    background-color: #4a4a4a;
    border: 2px solid #fff;
}

.btnForm:active {
    transform: scale(.9);
}


.p-input {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Caladea';
    font-weight: 700;
}

.p-cadastre {
    font-size: 20px;
}

.p-cadastre a {
    color: #DDAD94;
    font-weight: bold;
    text-decoration: none;
}

.a-acessar {
    text-decoration: none;
    color: #ffffff;
}

.modal{
    width: 40%;
    height: 30%;
    border: none;
    padding: 0;
    border-radius: 20px;
}

.modal::backdrop{
    background-color: #000000b9;

}
.content{
    display: flex;
    height: 100%;
    border-radius: 20px;
}
.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: #C62400;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.messageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    font-family: 'Caladea';
    font-weight: 700;
}
.title{
    text-align: left;
    color: #C62400;
    font-size: 30px;

}
.message{
    color: #666666;
    font-size: 20px;
}

.btnModal{
    font-family: 'Caladea';
    width: 50%;
    background-color:#C62400;
    border: none;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    height: 16%;
    border-radius: 10px;
}
.sucessesBG{
    background-color: #2AD445;
}
.sucesses{
  color: #2AD445;
}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(-10px);
        }

    100% {
      opacity: 1;
      transform: translateY(0);
     
    }
}

dialog[open]{
    animation: fadein 1s ease forwards;
}
