@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: "Caladea";
}

.menu {
    width: 250px;
    height: 100vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 10px;
    border-right: 2px #A5A5A5 solid;
}

.logo {
    width: 180px;
    margin-top: 20px;
}

.PrimaryScreens {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

.divOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    margin-top: 50%;
    margin-bottom: 10%;
    background-color: transparent;
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 4%;
    transition: all .4s ease-in-out;
    height: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menuOption {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    text-align: start;
    width: 100px;
    color: #666666;

}

.menuicon {
    color: #666666;
    margin-inline: 10px;

}

.secondaryOptions {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-between;
}

.onScreen {
    box-shadow: #666666 0 2px 6px;
    background-color: #B08067;

}

.option:hover {
    background-color: #F5F5F5;
}

.onScreen:hover {
    background-color: #c58f72;
}

.onScreenColors {
    color: #fff;
}

.logout {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;

    transition: all .4s ease-in-out;
    height: 60px;
}

.optionLogout {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 700;
    color: #666666;
}

.divButtonCadastro {
    display: flex;
    justify-content: flex-end;
    width: 48%;
    margin-bottom: 20px;
}

.buttonCadastro {
    height: 60px;
    width: 200px;
    background-color: #666666;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    box-shadow: #A5A5A5 0 4px 10px;
    transition: all .5s ease-in-out;
}

.buttonCadastro:active{
    transform: scale(.95);
}

.setoresMuseus {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #B08067;
    font-size: 40px;
    margin-left: 50px;
    font-weight: bold;
}

h4 {
    color: #666666;
    margin: 0 0 0 50px;
    font-weight: 300;
}


.setoresText {
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.setoresText span {
    color: #666666;
    font-weight: 800;
    font-size: 20px;


}

.setores {
    width: 48%;
    height: 55%;
    box-shadow: #b8b3ae 0 5px 10px;
    border-radius: 20px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonSetor {
    width: 200px;
    height: 36px;
    border-radius: 30px;
    border: none;
    background-color: #666666;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-around;
    align-items: center;
    transition: all .5s ease-in-out;
}

.buttonSetor:active{
    transform: scale(.95);
}
