@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background:  url("../assets/svg/fpaqwjruzmp91\ 2.png 2.png");
    background-color: #292929;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    p {
        color: white;
    }
    .header{
        padding: 30px;
    }
    .logo{
        height: 100px;
    }

    .div-login{
        background-color: #525151;
        height: 500px;
        width: 500px;
        border-radius: 40px;
        margin: auto;
        opacity: 0.9;
        
    }

    h1 {
        margin-left: 38%;
        color: white;
        font-size: 50px;
    }

    .box-input {
        margin-inline: 100px;
        padding-bottom: 35px;
    }

    .input {
        border-radius: 5px;
        border: none;
        width: 250px;
        height: 30px;
        padding-left: 20px;
        box-shadow: 0 4px 0px -1px gray;
        outline: none;
    }

    .botao {
        border-radius: 20px;
        border: none;
        width: 130px;
        height: 30px;
        color: rgb(255, 255, 255);
        background-color: #B08067;
        box-shadow: 0 4px 2px -2px gray;
        margin-top: 20px;
        margin-left: 24%;
    }

    .p-input {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .p-cadastre{
        margin-inline: 100px;
        font-size: 20px;
    }

    .p-cadastre span {
        color:#B08067 ;
    }