@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(../assets/svg/fundoInicio.svg);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #2B2929;
    border-radius: 30px;
}


.logo {
    width: 220px;
    height: 90px;
    padding: 10px;
}

.navBar {
    background-color: #505050b7;
    margin-top: 22px;
    border-radius: 100px;
    width: 50%;
    height: 70px;

    display: flex;
    align-items: center;
    position: fixed;
    transition: all .3s ease-in-out;

    z-index: 1;

}


.navlist {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;

}

.navItem {
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-left: 50px;

}

.navLink {
    text-decoration: none;
    color: #FFF;
}

.navLink::before {
    transition: all .6s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2.5px;

    bottom: -2px;
    background-color: #FFFFFF;
}

.navLink:hover::before {
    transform: scaleX(1);
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #75563f;
    width: 230px;
    height: 50px;
    margin-left: -10px;
    transition: all .6s ease-in-out;
    margin-right: 10px;

}
.cadastro:hover{
    background-color: #5e4633;
}
.cadastroLink{
    text-decoration: none;
    color: #FFF;

}

.btn {
    color: #fff;
    font-family: "Poppins";
    font-weight: 500;
    height: 60px;
    width: 300px;
    border-radius: 60px;
    border: 4px solid #fff;
    background-color: #A6CCE6;
    border-color: #A6CCE6;
    font-size: 22px;
    animation: up-down 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: -30px;
    cursor: pointer;
    box-shadow: #464646 0 5px 10px;
    transition: all .4s ease-in-out;
}


.mainText {
    font-family: "Poppins";
    font-weight: 500;
    color: #2B2929;
    font-size: 22px;
    line-height: 38px;
}

.objetivo {
font-weight: bolder;
font-size: 76px;
font: "caladea";

}

#Introducao-projeto{
    height: 100vh;
    display: flex;
    width: 100%;
    
}

.div-projeto {

    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    
} 

.img-text {

    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 12%;

}

.div-text{

    color: rgb(74, 47, 28);
    width: 50%;
    margin-left: 10%;
     
}

.div-img {

    width: 40%;
    margin-left: 10px;
    margin-top: -4%;
    
}

.logoArtCare-introducao {

    width: 540px;
}


.texto-introducaoProjeto {
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 450;
}

.button-introducao {
    color: #75563f;
    font-family: "Poppins";
    font-weight: 900;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    border: 2px solid #75563f;
    background-color: #ffffff;
    font-size: 15px;
   
}


#Projeto {
    height: 100vh;
    width: 100%;
   
    font-family: "Caladea";
    display: flex;
    justify-content: center;

}

.titulo-projeto {
    font-size: 66px;
    font-weight: 700;
    color: #4A2F1C;
}

.texto-projeto {
    font-size: 22px;
    font-weight: bold;
    /* font-weight: 500; */
    /* color: #4A2F1C; */
    color: #000000;
    font-family: "Caladea";
}

.container-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    margin-top: 40px;
}

.button1 {
    margin-right: 40px;
}



.button-saiba {
    border-radius: 30px;
    width: 230px;
    height:52px;
    border: 4px solid #613e26;
    color: #4A2F1C;
    background-color: #E0E0E0;
    font-weight: 700;
    font-family: "Caladea";
    font-size: 30px;
    transition: all .5s ease-in-out;
}

.button-cadastro {
    font-size: 18px;
    border-radius: 30px;
    width: 160px;
    height: 42px;
    border: none;
    color: white;
    background-color: #A9927D;
    font-weight: 700;
    font-family: "Caladea";
    transition: all .5s ease-in-out;

}

.button-saiba:hover {
    background-color: #F5F5F5;
}

.button-cadastro:hover {
    background-color: #5e3c24;
}

.imagem-projeto {
width: 470px;

}
.project{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


#Simulador {
    height: 100vh;
    width: 100%;
    background: url("../assets/background/bgSimulador.svg");
    background-color: #292929;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.context {
    width: 550px;
    height: 420px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffd0;
}

.titleContext {
    font-family: "Caladea";
    font-weight: 700;
    color: #2B2929;
    font-size: 30px;
}

.caladea {
    font-family: "Caladea";
}

.simulador {

    width: 850px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffd0;
}


.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.inputText {
    font-family: "Caladea";
    font-weight: 700;
    color: #4a4a4a;
    font-size: 18px;
    text-align: center;
}

.inputForm {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid #464646;
    
}

.inputForm:focus {
    transition: all .4s ease-in-out;
    box-shadow: #4a4a4a 0 0 5px;
    outline: none;
}

.btnForm {
    color: #FFF;
    font-family: "Poppins";
    font-weight: 550;
    height: 47px;
    width: 250px;
    border-radius: 60px;
    border: 2px solid #fff;
    background-color: #4a4a4a;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: #4a4a4a 0 5px 10px;
    transition: all .4s ease-in-out;
}

.btnForm:hover {
    background-color: #A9927D;
    border-color: #A9927D;
}

.btnForm:active {
    transform: scale(.9);
}

#tabela {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tableContent {
    background-color: #ffffffa5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDiv {
    width: 600px;
}

.perda {
    color: #FF3636
}

.ganho {
    color: #5EFC8D
}

.table {
    width: 600px;
}

.tableHead {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 700;

}

.line {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background-color: #eeeeee;
    font-family: "Poppins";
    font-weight: 400;
    border-radius: 20px;
}

.description {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.cloud {
    margin-bottom: -10px;
}

.logoArtcare {
    height: 200px;
}

#Contato {
    height: 100vh;
    width: 100%;
    background-color: #A6CCE6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormContainer {
    background-color: #FFF;
    width: 900px;
    height: 500px;

    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    box-shadow: #4a4a4a -4px 10px 20px;

}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 22px;
    color: #4a4a4a;
    margin: 20px 0 0 10px;
}

.input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    padding-left: 20px;
    border: #A6CCE6 2px solid;
    margin-top: 5px;
    transition: all .4s ease-in-out;
    font-family: "Poppins";
    font-weight: 500;
}

.input:focus {
    box-shadow: #4a4a4a 0 0 10px;
    outline: none;
}

.descContact {
    display: flex;
    flex-direction: column;
}

.inputDesc {
    height: 100%;
    width: 300px;
    border-radius: 20px;
    padding: 20px 20px;
    border: #A6CCE6 2px solid;
    margin-top: 5px;
    transition: all .4s ease-in-out;
    font-family: "Poppins";
    font-weight: 500;

}

.inputDesc:focus {
    box-shadow: #4a4a4a 0 0 10px;
    outline: none;
}

.blue:hover {
    background-color: #A6CCE6;
    border-color: #A6CCE6;
}

.footer {
    box-shadow: #4a4a4a 10px 0 10px;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 200px;
    width: 100%;
}

.Cloudify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerText {
    font-family: "Poppins";
    font-weight: 400;
    color: #FFF;
    font-size: 14px;
}

.logoWhite {
    height: 100px;
}

.footerlist {
    list-style: none;
}

.footerItem {
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.footerLink {
    text-decoration: none;
    color: #FFF;
    transition: all .4s ease-in-out;
}

.footerLink:hover {
    text-decoration: none;
    color: #A6CCE6;
}


.infos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-2 {

    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}


.logo-white {

    margin-top: 10%;
    margin-left: 9%;
    width: 253px;
    height: 73px;
}

.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

}

.retangulo1 {

    width: 40%;
    height: 100%;
    background: linear-gradient(349.48deg, #F5F5F5 -23.43%, #A9927D 81.27%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}


/* .cadastro {
    font-family: 'Poppins';
    color: #F5F5F5;
    font-size: 27px;
    text-align: center;
} */

#Cadastro {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/background/cadastro-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#Cadastro .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-cadastro {
    width: 60%;
    background: rgb(102, 102, 102, 0.700);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caladea';
    font-weight: bold;
    color: #F5F5F5;
    font-size: 20px;
    box-shadow: #6f6f6f 0 5px 10px;
}

.box-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha1-input, .linha2-input{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    padding: 10px 0;
}

.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 
.box-children-input {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
} */


.input-Cadastro {
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    box-shadow: 0 4px 0px -1px gray;
    outline: none;
}

.input-Cadastro:focus {

    box-shadow: #000000 0 0 10px;

}


.botao-cadastro {

    border-radius: 20px;
    border: none;
    width: 145px;
    height: 40px;
    background-color: white;
    margin-left: 29%;
    box-shadow: 0 4px 2px -2px gray;

}


.box-opcao {

    display: flex;
    align-items: center;
    margin-top: 4%;
    width: 100px;
    justify-content: space-between;
}

.box-opcao1 {


    border-color: silver;
    width: 44px;
    height: 2px;
    color: silver;
    background-color: silver;
}

.box-opcao2 {

    border-color: white;
    width: 44px;
    height: 2px;
    color: white;
    background-color: white;

}

.possuiConta {

    margin-top: 4%;
    font-family: 'Poppins';
    font-size: 20px;
}

.box-login {

    color: rgb(136, 128, 103)
}