@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #2B2929;
    border-radius: 30px;
}


.logo {
    width: 220px;
    height: 90px;
    padding: 10px;
}

.navBar {
    background-color: transparent;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    transition: all .3s ease-in-out;

    z-index: 1;

}


.navlist {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
}

.navItem {
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
    font-size: 17px;
    font-weight: 600;

}

.navLink {
    text-decoration: none;
    color: #FFF;
}

.navLink::before {
    transition: all .6s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2.5px;

    bottom: -2px;
    background-color: #4a4a4a;
}

.navLink:hover::before {
    transform: scaleX(1);
}

.navLink:hover {
    color: #4a4a4a;

}

.navBar.active {
    background-color: #ffffffce;
    box-shadow: #464646 0 2px 15px;

}

.navBar.active .navLink {
    color: #4a4a4a;
}


#Inicio {
    height: 100vh;
    width: 100%;
    background: linear-gradient(360deg, rgba(218, 241, 255, 1) 0%, #A6CCE6 80%);
}

.StartContainer {
    padding-top: 50px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: "Poppins";
    font-weight: 600;
    color: #2B2929;
    font-size: 40px;
}

.Enterprise {
    font-family: "Montserrat";
    font-weight: 600;
    color: #fff;
    font-size: 78px;
}

.text {
    font-family: "Poppins";
    font-weight: 500;
    color: #fff;
    font-size: 22px;
}

.startImage {
    height: 400px;
    width: 400px;
}

.buttonDiv {
    display: flex;
    justify-content: center;

}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.btnLink {
    text-decoration: none;
}

.btn {
    color: #fff;
    font-family: "Poppins";
    font-weight: 500;
    height: 60px;
    width: 300px;
    border-radius: 60px;
    border: 4px solid #fff;
    background-color: transparent;
    font-size: 22px;
    animation: up-down 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: -30px;
    cursor: pointer;
    box-shadow: #464646 0 5px 10px;
    transition: all .4s ease-in-out;
}

.btn:hover {
    background-color: #A6CCE6;
    border-color: #A6CCE6;
}

#Sobre {
    height: 100vh;
    width: 100%;
    display: flex;

}

.assetsContainer {
    background: linear-gradient(360deg, #A6CCE6 0%, rgba(218, 241, 255, 1) 80%);

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logoSobre {
    width: 500px;
    height: 150px;
    margin-left: 20%;
}

.sobreContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.blueTitle {
    font-family: "Poppins";
    font-weight: 600;
    color: #A6CCE6;
    font-size: 40px;
}

.mainText {
    font-family: "Poppins";
    font-weight: 500;
    color: #2B2929;
    font-size: 20px;
}

#Equipe {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(360deg, rgba(218, 241, 255, 1) 0%, #A6CCE6 80%);

}

.upperCloud {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.equipeCloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.equipeUpper {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 70px;

}

.membro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberPhoto {
    border-radius: 30px;
    height: 180px;
    width: 180px;
    border: 4px #fff solid;
    box-shadow: #464646 0 5px 5px;
}

.nameMember {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.memberFunction {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 17px;
    color: #464646;
    margin-top: 10px;
}

.equipeLower {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;

    width: 90%;
}

.socialBtn {
    height: 30px;
    width: 30px;
    transition: all .3s ease-in-out;
}

.socialBtn:hover {
    transform: scale(1.16);
}

#Projeto {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: "Caladea";
    justify-content: space-evenly;

}

.titulo-projeto {
    font-size: 76px;
    font-weight: 700;
    color: #5e3c24;
}

.texto-projeto {
    font-size: 26px;
    font-weight: 500;
    color: #2B2929;
}

.container-projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    margin-top: 40px;
}

.button1 {
    margin-right: 40px;
}




.button-saiba {
    border-radius: 30px;
    width: 160px;
    height: 42px;
    border: 1px solid #A9927D;
    color: #A9927D;
    background-color: #FFF;
    font-weight: 700;
    font-family: "Caladea";
    font-size: 18px;
    transition: all .5s ease-in-out;
}

.button-cadastro {
    font-size: 18px;
    border-radius: 30px;
    width: 160px;
    height: 42px;
    border: none;
    color: white;
    background-color: #A9927D;
    font-weight: 700;
    font-family: "Caladea";
    transition: all .5s ease-in-out;

}

.button-saiba:hover {
    background-color: #F5F5F5;
}

.button-cadastro:hover {
    background-color: #5e3c24;
}

.imagem-projeto {
    width: 400px;
}


#Simulador {
    height: 100vh;
    width: 100%;
    background: url("../assets/background/bgSimulador.svg");
    background-color: #292929;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.context {
    width: 550px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffa5;
}

.titleContext {
    font-family: "Caladea";
    font-weight: 700;
    color: #2B2929;
    font-size: 30px;
}

.caladea {
    font-family: "Caladea";
}

.simulador {

    width: 850px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffa5;
}


.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.inputText {
    font-family: "Caladea";
    font-weight: 700;
    color: #4a4a4a;
    font-size: 15px;
    text-align: center;
}

.inputForm {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
}

.inputForm:focus {
    transition: all .4s ease-in-out;
    box-shadow: #4a4a4a 0 0 5px;
    outline: none;
}

.btnForm {
    color: #FFF;
    font-family: "Poppins";
    font-weight: 500;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    border: 2px solid #fff;
    background-color: #4a4a4a;
    font-size: 15px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: #4a4a4a 0 5px 10px;
    transition: all .4s ease-in-out;
}

.btnForm:hover {
    background-color: #A9927D;
    border-color: #A9927D;
}

.btnForm:active {
    transform: scale(.9);
}

#tabela {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tableContent {
    background-color: #ffffffa5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDiv {
    width: 600px;
}

.perda {
    color: #FF3636
}

.ganho {
    color: #5EFC8D
}

.table {
    width: 600px;
}

.tableHead {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 700;

}

.line {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    background-color: #eeeeee;
    font-family: "Poppins";
    font-weight: 400;
    border-radius: 20px;
}

.description {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.cloud {
    margin-bottom: -10px;
}

#Cadastro {
    height: 100vh;
    width: 100%;
}

.logoArtcare {
    height: 200px;
}

#Contato {
    height: 100vh;
    width: 100%;
    background-color: #A6CCE6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormContainer {
    background-color: #FFF;
    width: 900px;
    height: 500px;

    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    box-shadow: #4a4a4a -4px 10px 20px;

}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 22px;
    color: #4a4a4a;
    margin: 20px 0 0 10px;
}

.input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    padding-left: 20px;
    border: #A6CCE6 2px solid;
    margin-top: 5px;
    transition: all .4s ease-in-out;
    font-family: "Poppins";
    font-weight: 500;
}

.input:focus {
    box-shadow: #4a4a4a 0 0 10px;
    outline: none;
}

.descContact {
    display: flex;
    flex-direction: column;
}

.inputDesc {
    height: 100%;
    width: 300px;
    border-radius: 20px;
    padding: 20px 20px;
    border: #A6CCE6 2px solid;
    margin-top: 5px;
    transition: all .4s ease-in-out;
    font-family: "Poppins";
    font-weight: 500;

}

.inputDesc:focus {
    box-shadow: #4a4a4a 0 0 10px;
    outline: none;
}

.blue:hover {
    background-color: #A6CCE6;
    border-color: #A6CCE6;
}

.footer {
    box-shadow: #4a4a4a 10px 0 10px;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 200px;
    width: 100%;
}

.Cloudify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerText {
    font-family: "Poppins";
    font-weight: 400;
    color: #FFF;
    font-size: 14px;
}

.logoWhite {
    height: 100px;
}

.footerlist {
    list-style: none;
}

.footerItem {
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.footerLink {
    text-decoration: none;
    color: #FFF;
    transition: all .4s ease-in-out;
}

.footerLink:hover {
    text-decoration: none;
    color: #A6CCE6;
}


.infos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.container-2 {

    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}


.logo-white {

    margin-top: 10%;
    margin-left: 9%;
    width: 253px;
    height: 73px;
}

.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

}

.retangulo1 {

    width: 40%;
    height: 100%;
    background: linear-gradient(349.48deg, #F5F5F5 -23.43%, #A9927D 81.27%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.cadastro {

    font-family: 'Poppins';
    color: #F5F5F5;
    font-size: 27px;
    text-align: center;
}

.vertical-space {
    margin-top: 5%;
}

.retangulo {

    width: 516px;
    height: 520px;
    background: rgba(169, 146, 125, 0.7);
    border-radius: 40px;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    color: #F5F5F5;
    font-size: 20px;
}



<<<<<<< HEAD
=======
    border-radius: 20px; 
<<<<<<< HEAD
    border: none;
    width: 70%;
=======
    border-color: white;
    width: 90%;
>>>>>>> 91f91f8ed8d2962fbdc90bb14076fa15f5355d45
    height: 32px;
    padding-left: 20px;
    box-shadow: 0 4px 0px -1px gray;
    padding-left: 10px;
    
    
}
>>>>>>> a3b136c98b36869434c7dc6f92e3a1f08f1e1e24

.box-children-input {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}


.input-Cadastro {

    border-radius: 20px;
    border: none;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    box-shadow: 0 4px 0px -1px gray;
    outline: none;


}

.input-Cadastro:focus {

    box-shadow: #000000 0 0 10px;

}


.botao-cadastro {

    border-radius: 20px;
    border: none;
    width: 145px;
    height: 40px;
    background-color: white;
    margin-left: 29%;
    box-shadow: 0 4px 2px -2px gray;

}


.box-opcao {

    display: flex;
    align-items: center;
    margin-top: 4%;

}

.box-opcao1 {


    border-color: silver;
    width: 44px;
    height: 2px;
    color: silver;
    background-color: silver;
    margin-left: 31%;
}

.box-opcao2 {

    border-color: white;
    width: 44px;
    height: 2px;
    color: white;
    background-color: white;
    margin-left: 5%;

}

.possuiConta {

    margin-top: 2%;
    font-family: 'Poppins';
    font-size: 23px;
    margin-left: 4%;
}

.box-login {

    color: rgb(136, 128, 103)
}