@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
    display: flex;
}

.menu {
    width: 250px;
    height: 100vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 10px;
    border-right: 2px #A5A5A5 solid;
}

.logo {
    width: 200px;
    margin-top: 20px;
}

.PrimaryScreens {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 90%;
    justify-content: space-between;
    align-items: center;

}

.divOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: transparent;
}

.option {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    height: 80px;
}

.menuOption {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    text-align: start;
    width: 100px;
    color: #666666;

}

.menuicon {
    color: #666666;
}

.secondaryOptions {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-between;
}

.onScreen {

    background-color: #B08067;
    border-radius: 50px;
}

.option:hover {
    background-color: #F5F5F5;
}

.onScreen:hover {
    background-color: #c58f72;
}

.onScreenColors {
    color: #fff;
}

.content {
    width: 100%;
}

.header {
    width: 100%;
    height: 150px;

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #b8b3ae 0 5px 10px;
    border-bottom: 2px #A5A5A5 solid;


}

.headerTitle {
    margin-left: 50px;
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    color: #B08067;
}


.logout {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    height: 60px;

    margin-right: 50px;
}

.optionLogout {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;

    margin-left: 20px;
    color: #666666;
}

.chart {
    width: 800px;
    background-color: #fff;
    margin-left: 50px;

}

.chartInfo {
    width: 1200px;
    height: 450px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.chartHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.chartChangeButton {
    margin-right: 50px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;

    border: none;
    background-color: #F5F5F5;
    cursor: pointer;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    height: 40px;

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;

     color: #B08067;
}

.chartChangeButton:hover{
    background-color: #A5A5A5;
    color: #fff;
}

.chartChangeButton:active{
    transform: scale(.95);
}